# step01
REGD=xxxxxxxxxxxx # your regd no.
PASS=xxxxxxxxxxxx # your vtop pass

INTERVAL_SECONDS = # in seconds (minutes*60 ex: 5*60 for 5 minutes)
MAX_RETIRES=10 # to skip the google captcha

TG_BOT_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxx # for the notification feature (refer the telegram.md file)
TG_CHAT_ID=xxxxxxxxxxxxxxxxxxxx # for the notification feature (refer the telegram.md file)

# step02 (can only get this after configuring all the above variables and running the get_semid.py unless you know the id for the sem you want)
VTOP_SEMID=xxxxxxxxxxxxxx # get this from the get_semid.py and paste here