name: Watchdog job

on:
  schedule:
    - cron: "*/10 * * * *"
  workflow_dispatch:

jobs:
  watchdog:
    runs-on: ubuntu-latest

    environment: runner

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run watchdog
        run: python main.py
